node_modules/
npm-debug.log
package-lock.json
pnpm-lock.yaml
yarn.lock
.npm
.eslintcache
.prettierignore
vite.config.ts
tsconfig.json
resources/js/
resources/css/
resources/views/
.git/
.gitignore
.env.*.local
.env.*.*.local
.vscode/
.idea/
*.log
.DS_Store
tests/
database/seeders/
.editorconfig
.gitattributes
